<h1 style="text-align: center;">Registration  form</h1>
<form class="mx-5" #registerForm="ngForm" style="margin:2% 10%;">  

       <div class="form-group ">
        <label for="firstName">First Name</label>
        <input type="text" class="form-control my-2"  name="firstName" id="firstName"  [(ngModel)]="firstName"  required placeholder="Enter First name" #name1="ngModel">
        <div class="text-danger" *ngIf="name1.errors?.required">
            Name is required.
          </div>
        <label for="lastName">Last Name</label>
        <input type="text" class="form-control my-2"  name="email" id="lastName" [(ngModel)]="lastName"required placeholder="Enter last name" #name2="ngModel">
        <div class="text-danger" *ngIf="name2.errors?.required">
            Name is required.
          </div>
       </div>
       <div>
        <label for="gender">Gender</label>
        <div class="form-check">
            <input class="form-check-input" type="radio" [(ngModel)]="gender" name="gender" id="Male" value="Male" checked>
            <label class="form-check-label" for="Male">
             Male
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio"[(ngModel)]="gender" name="gender" id="female" value="Female">
            <label class="form-check-label" for="female">
              Female
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" [(ngModel)]="gender" name="gender" id="Others" value="Others">
            <label class="form-check-label" for="Others">
              Others
            </label>
          </div>
       </div>
       
      <div class="form-group ">
        <label for="mobile">Mobile No.</label>
        <input type="number" class="form-control my-2"required  name="mobileNo" id="mobile" [(ngModel)]="mobileNo" min="1111111111" max="9999999999" placeholder="Enter Mobile No">
       </div>
     
    <div class="form-group ">
      <label for="Email">Email address</label>
      <input type="email" class="form-control my-2" required name="email" id="Email" [(ngModel)]="email" placeholder="Enter email">
     </div>
     
     <div class="form-group">
      <label for="Email">password:</label>
      <input type="password" [(ngModel)]="password" name="password" placeholder="Password" class="form-control my-2" required #passwordControl="ngModel" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" />
      <div *ngIf="passwordControl.invalid && (registerForm.submitted || passwordControl.touched)" class="alert alert-danger">
        <div *ngIf="passwordControl.errors?.required"> Password is required. </div>
        <div *ngIf="passwordControl.errors?.pattern"> Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters.</div>
      </div>
     </div>
     
     <div class="form-group">
      <label for="Email">Confirm Password</label>
      <input type="password" [(ngModel)]="confirmpassword" name="confirmpassword" placeholder="Confirm Password" class="form-control my-2" required #confirmpasswordControl="ngModel" pattern="{{passwordControl.value}}" />
      <div *ngIf=" confirmpasswordControl.invalid && (registerForm.submitted ||confirmpasswordControl.touched)" class="alert alert-danger">
        <div *ngIf="confirmpasswordControl.errors?.required"> Confirm password is required. </div>
        <div *ngIf="confirmpasswordControl.errors?.pattern"> Password & Confirm Password does not match.</div>
      </div>
     </div>
  <!-- <div *ngIf="password!=confirmPassword; registerForm.invalid=true">password and confirmPassword must have same value</div>
     -->
    <button type="submit"  (click)="onRegister()" [disabled]="registerForm.invalid"class="btn btn-primary my-3" >Submit</button>
  </form> 
  <br>
  <div>already have an account?<span><a class="text-info" routerLink="/login">login here</a></span></div>
